**/xcuserdata/
**/Moonlight.xcscmblueprint
**/xcschemes/*.xcscheme
.DS_Store
Build
build/
build-*/
DerivedData
*.xcresult
.swiftpm/
SourcePackages/
.build-cache/
build-home/
*.xccheckout
.github
README.md
